# CODEOWNERS file
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The following example assumes 'dzmitry-viartseika' should be the code owner for specific directories and file types.

# To make 'dzmitry-viartseika' the default owner for everything in the repo
*       @Dzmitry-viartseika